@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



/* styles */

main,
footer{
  width: 90%;
}

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .display-flex{
    display: flex;
  }

  .dark-02{
    color: rgba(66, 66, 66, 1);
  }

  .dark-03{
    color: rgba(114, 114, 114, 1);
  }

  .texts{
    font-size: .7rem;
    font-weight: 400;
  }

  .Brand{
    font-size: 3rem;
  }

  .btn-primary{
    background-color: #FF900E;
    height: 50px; width: 150px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
  }


  /* header section */

  .navbar{
    justify-content: space-between;
    width: 100%;
  }

  .list-title{
    font-size: 2rem;
    margin-left: 15%;
  }

  .list-section {
    font-weight: 450;
    list-style: none;
    align-items: center;
    gap: 2.5rem;
    margin-right: 15%;
  }

  .list-item >a {
    text-decoration: none;
    font-size: 1rem;
  }

  header{
    background-color: rgba(255, 144, 14, 0.1);
    height: 66rem;
    width: 100%;
  }

  header > div{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .banner-img{
    margin-left: calc(50% - 720px);
    width: 80%;
    height: 57%;
  }

  /* main */
  /*section 1 */

  .pictuers{
    display: grid;
   gap: 1rem;
   grid-template-columns: repeat(2, 1fr);
   margin: 4rem 2.5rem 4rem 11rem;
   border-radius: 8px;
  }

  .alings{
    margin-top: 15.5rem;
    margin-left: 1rem;
    width: 24rem;
    height: 18rem;
  }


  @media screen and (max-width:576px){
    .display-flex,
    .alings{
        flex-direction: column;
        align-items: center;
    }

    .list-title{
        margin: 1rem 0rem 1rem 0rem;
        font-size: 2.5rem;
    }

    .banner-img {
      margin-left: 0%;
    }

    header{
      height: 50rem;
    }

    #brands {
      padding-left: .7rem;
      padding-right: .7rem;
    }

    .list-item{
      text-align: center;
      padding-left: 2%;
    }

    .list-section{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }


    .pictuers{
      grid-template-columns: repeat(1, 1fr);
     margin:1rem;
    }
    
    .alings{
      margin-top: 0px;
      word-wrap: break-word;
      width: calc(100% - 1rem);
      align-self: center;
    }

    .btn{
      margin-left: calc(50% - 6.5rem);
    }

    .sec01{
      margin-left: calc(50% - 12rem);
    }
  }


  @media  screen and (min-width:576.1px) and (max-width:992px) {

    .list-title{
        margin-left: 8%;
    }

    .list-section{
        margin-right: 8%;
    }

    .banner-img{
      margin-left: 0%;
    }

    header{
      height: 52rem;
    }
  }


  @media screen and (min-width:992.1px) {
    
    .banner-img {
      margin-left: 0%;
    }

  }